label {
  display:inline-block;
  color:  #607D8B;
   font-weight: bold;
   /*config the same width for all label*/
   width: 3em;
   /*config the vertical space between two label*/
   margin: .5em 0;
}

input {
  height: 2em;
  font-size: 1em;
  /*config the space between text and textbox*/
  padding-left: .4em;
}

button {
  margin-top:20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
